.footer {
    padding: 60px 0;
    background-color: #333333;
    text-align: center;
    color: white;
    &__info {
        display: inline-block;
        vertical-align: top;
        width: 310px;
        text-align: left;
        font-size: 16px;
        p {
            margin: 5px 0;
        }
    }
    &__link {
        display: inline-block;
        vertical-align: top;
        width: 310px;
        text-align: right;
        font-size: 50px;
        color: white;
    }
}

@media (max-width: 650px) {
.footer {
    &__info {
        display: block;
        margin: 0 auto;
    }
    &__link {
        display: block;
        margin: 20px auto;
        text-align: center;
    }
}
}