.contact_list {
    margin-top: 20px;
    padding: 0 20px;
    font-size: 16px;
    color: black;
}
.contact_list p {
    font-size: 20px;
}
.contact_list li {
    margin-bottom: 20px;
    line-height: 1.5;
}
.contact_list span {
    font-weight: bold;
}

@media (max-width: 500px) {}